@model IEnumerable<RecCenter.FACILITY>

@{
    ViewBag.Title = "Facilities";
}

@section PageHeader {
    <div class="rc-card">
        <h2 class="rc-card-title">Facilities</h2>
        <p>View and manage RecCenter facilities, their capacity, rates, and status.</p>
    </div>
}

<p>
    @Html.ActionLink(
        "Add New Facility",
        "Create",
        null,
        new { @class = "btn btn-primary" }
    )
</p>

<div class="rc-card">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Facility_Name)</th>
                <th>@Html.DisplayNameFor(model => model.Facility_Type)</th>
                <th>@Html.DisplayNameFor(model => model.Capacity)</th>
                <th>@Html.DisplayNameFor(model => model.Floor_Number)</th>
                <th>@Html.DisplayNameFor(model => model.Equipment_Available)</th>
                <th>@Html.DisplayNameFor(model => model.Hourly_Rate)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.Created_Date)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Facility_Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Facility_Type)</td>
                    <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                    <td>@Html.DisplayFor(modelItem => item.Floor_Number)</td>
                    <td>@Html.DisplayFor(modelItem => item.Equipment_Available)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hourly_Rate)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.Created_Date)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Facility_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Facility_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Facility_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
