@model RecCenter.MEMBERSHIP_TYPE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MEMBERSHIP_TYPE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monthly_Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monthly_Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration_Months)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration_Months)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Classes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Classes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility_Access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility_Access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Type_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
